[package]
name = "ruint"
description = "Unsigned integer type with cont-generic bit length"
authors = ["Remco Bloemen <remco@wicked.ventures>"]
version = "1.3.0"
edition = "2021"
homepage = "https://github.com/recmo/uint"
repository = "https://github.com/recmo/uint"
keywords = ["uint"]
categories = ["mathematics"]
readme = "Readme.md"
license = "MIT"

[workspace]
members = ["ruint-macro"]

[features]
default = []
bench = [ "dep:criterion", "proptest" ]
dyn = [ "dep:smallvec"]
generic_const_exprs = []
postgres = [ "dep:postgres-types", "dep:bytes" ]
sqlx = [ "dep:sqlx-core" ]

[[bench]]
name = "criterion"
harness = false
path = "criterion.rs"
required-features = [ "bench", "proptest" ]

[dependencies]
thiserror = "1.0"
ruint-macro = { version = "1.0.0", path = "./ruint-macro" }

# UintDyn
smallvec = { version = "1.8.0", optional = true, features = [ "union" ] }

# Optional
rand = { version = "0.8.5", optional = true }
quickcheck = { version = "1.0", optional = true }
proptest = { version = "1.0", optional = true }
arbitrary = { version = "1.1", optional = true }
serde = { version = "1.0", optional = true }
rlp = { version = "0.5.1", optional = true }
fastrlp = { version = "0.1.0", optional = true }
primitive-types = { version = "0.11.1", optional = true }
postgres-types = { version = "0.2.3", optional = true }
bytes = { version = "1.1", optional = true }
num-bigint = { version = "0.4.3", optional = true }
ark-ff = { version = "0.3.0", optional = true }
# HACK: (BLOCKED) sqlx requires a runtime to be specified.
# <https://github.com/launchbadge/sqlx/issues/1627>
sqlx-core = { version = "0.5", optional = true, features = [ "runtime-tokio-native-tls" ] }
zeroize = { version = "1.5", optional = true }

# Secretly dev-dependencies
criterion = { version = "0.3", optional = true }

[build-dependencies]
# Rust currently has no way to conditionally compile based on compiler features.
# `autocfg` is a workaround, but doesn't support probing for `#[features(...)]`
# yet (there's a PR though, but crates.io doesn't allow us to use it).
# So instead, we do the dumb thing and just check for nightly.
rustc_version = "0.4.0"

[dev-dependencies]
coverage-helper = "0.1"
proptest = { version = "1.0" }
serde_json = "1.0"
bincode = "1.3"
hex = "0.4.3"
hex-literal = "0.3.4"
postgres = "0.19.3"
approx = "0.5.1"
ark-bn254 = "0.3.0"


# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3

# Produce debug info for release builds
[profile.release]
debug = true

[package.metadata.docs.rs]
rustdoc-args = [ "--cfg", "has_cfg_doc", "--html-in-header", ".cargo/katex-header.html" ]
all-features = true
